@charset "utf-8";

/* color */
:root {
    --companyColor : #3C77CF;
}

/* reset */
* {margin: 0;padding: 0;}

a {text-decoration: none;}
li {list-style: none;}
p, a, h1, h2, h3, h4, h5, h6, td, th {color:#000;}

/* ====================
    header
====================*/





/* ====================
    main
====================*/





/* ====================
    footer
====================*/


